---
const { href, title, thumbnail, state, text, price } = Astro.props;
import "../style/style.scss";
---

<article class="article">
  <a href={href}>
    <img src=`${thumbnail}` alt={title} />
    <h2>{title}</h2>
    <p class="state">{state}</p>
    <p class="price">{price}</p>
    <p class="text">{text}</p>
  </a>
</article>
